@model GDWEBSolution.Models.Schools.SchoolSubjectModel
<div>
    <form id="FormsclSubelete" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Are you sure you want to Delete this Subject ?</h5>
            @Html.HiddenFor(m => m.SchoolId)
            @Html.HiddenFor(m => m.AcademicYear)
            @Html.HiddenFor(m => m.SubjectId)

        </div>
        <div class="modal-footer">

            <a href="#" id="btnsclsubSubmit" class="btn btn-primary">YES</a>
            <a href="#" id="btnNo" class="btn btn-default">NO</a>
        </div>
    </form>
    @*    <div style="text-align: center; display: none" id="loaderDiv">
            Loading
        </div>*@
</div>
<script>

    $(document).ready(function () {

        $("#btnsclsubSubmit").click(function (e) {
            debugger
            var myformdata = $("#FormsclSubelete").serialize();
            $.ajax({

                type: "POST",
                url: "/School/DeleteSchoolSubjects",
                data: myformdata,
                success: function (result) {
                    //$("#loaderDiv").hide();
                    if (result != "Error") {
                        debugger
                        //window.location.href = "/Teacher/Create";
                        // $("#TeacherID").val(result);
                        //  $('#ResultDIV').load('/Teacher/ShowTeacherQualificatoin', ShowTeacherQualificatoinAction);
                        $('#showSubjects').load('/School/ShowSchoolSubjects?AcademicYear=' + result.split('!')[0] + '&SchoolId=' + result.split('!')[1]);
                    }
                    $("#deleteModel").modal("hide");


                }

            })
        })

        $("#btnNo").click(function (e) {
            debugger
            $("#deleteModel").modal("hide");
        })

    })


</script>