@model GDWEBSolution.Models.Maintenance.SubjectCategoryModel

<div id="ViewForm">
   
    <form id="myForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Subject Category</h4>
        </div>
        <div class="modal-body">

           
           

            <div class="form-group">
                @Html.LabelFor(m => m.SubjectCategoryName, new { @class = "col-sm-3 control-label" })
                <div class="col-sm-8">
                    @Html.TextBoxFor(model => model.SubjectCategoryName, new { @class = "form-control", @placeholder = "Subject Category Name" })
                    <span class="help-block m-b-none" id="NameError"></span>
                </div>
            </div>

         </div>
        <div class="modal-footer">
           <a href="#" id="btnSubmit" class="btn btn-primary">Save</a>
        </div>
    </form>



</div>

<div id="successmsg" style="display:none">
    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" onclick="CloseView()">&times;</button>
            <h5 class="modal-title" style="color:green">Save Success....!</h5>
        </div>
        <div class="modal-footer">


            <a href="#" id="btnSubmit" class="btn btn-primary" onclick="CloseView()">YES</a>

        </div>
    </div>

    @*    <div style="text-align: center; display: none" id="loaderDiv">
            Loading
        </div>*@

</div>

<!--Error message-->
<div id="errormsg" style="display:none">
    <div class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title" style="color:red">Save Fail......!</h5>
        </div>
        <div class="modal-footer">


            <a href="#" id="btnSubmit" onclick="CloseView()" class="btn btn-primary">Close</a>

        </div>
    </div>

    @*    <div style="text-align: center; display: none" id="loaderDiv">
            Loading
        </div>*@

</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            debugger
            var Name = $('#SubjectCategoryName');
            var NameError = $('#NameError');
          


           
            if (!Name.val()) {
                // Add errors highlight
                Name.closest('.form-group').removeClass('has-success').addClass('has-error');
                $("#NameError").text("Required");
                // Stop submission of the form
               // e.preventDefault();
                return;
            }
          
         
           
            var myformdata = $("#myForm").serialize();
           
            $.ajax({

                type: "POST",
                url: "/MaintainSubjectCategory/Create",
                data: myformdata,
                success: function (result) {
                    document.getElementById('ViewForm').style.display = "none";
                    if (result == true) {
                        //$("#loaderDiv").hide(
                        //$("#myModal").modal("hide");

                        document.getElementById("successmsg").style.display = "block";
                        //
                    } else {
                        document.getElementById("errormsg").style.display = "block";
                    }
                }

            })
        })

    })
    function CloseView() {
        window.location.href = "/MaintainSubjectCategory/Index";
    }

</script>