@model GDWEBSolution.Models.Message.StoPMessageHeaderModel


@*<label for="pwd" class="control-label">Class :</label>*@
@Html.DropDownListFor(model => model.ParentIdArray, (MultiSelectList)ViewBag.GradeClassseParent as MultiSelectList, "", new { id = "GreadeParentId", @class = "select2_Parent form-control", multiple = "multiple" })@*,multiple="multiple"*@

<script>
    $(document).ready(function () {
        $(".select2_Parent").select2({
            placeholder: "Select a Parent",
            allowClear: true,
            width: '100%'
        });
    });
</script>