@model GDWEBSolution.Models.Message.StoPMessageHeaderModel


@*<label for="pwd" class="control-label">Class :</label>*@
@Html.DropDownListFor(model => model.ClassId, ViewBag.GradeClassse as SelectList, "", new { @class = "select2_Class form-control", @onchange = "loadClassParent()" })

<script>
    $(document).ready(function () {
        $(".select2_Class").select2({
            placeholder: "Select a Class",
            allowClear: true,
            width: '100%'
        });
    });
</script>