@model GDWEBSolution.Models.TeacherCategoryModel


<div>
    <form id="myForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Are you sure you want to Delete this Teacher Category ? @Html.HiddenFor(m=> m.TeacherCategoryId)</h4>
        </div>
        <div class="modal-footer">
            <a href="#" id="btnNo" class="btn btn-default">NO</a>
            <a href="#" id="btnSubmit" class="btn btn-primary">YES</a>
        </div>
    </form>

@*    <div style="text-align: center; display: none" id="loaderDiv">
        Loading
    </div>*@

</div>
<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            debugger
            var myformdata = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url: "/TeacherCategory/Delete",
                data: myformdata,
                success: function () {
                    //$("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/TeacherCategory/Index";

                }

            })
        })

        $("#btnNo").click(function (e) {
            debugger
            $("#myModal").modal("hide");
        })

    })


</script>