@model GDWEBSolution.Models.Student.OptionalSubjectModel
<div>
    <form id="myForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Are you sure you want to Delete this Application Status ? 
                @Html.HiddenFor(model => model.SequanceNo)
            @Html.HiddenFor(model => model.SchoolId)</h5>
            @Html.HiddenFor(m => m.SubjectId)
            @Html.HiddenFor(m => m.SubjectId)
        </div>
        <div class="modal-footer">
            <a href="#" id="btnSubmit" class="btn btn-primary">YES</a>
            <a href="#" id="btnNo" class="btn btn-default">NO</a>
        </div>
    </form>
    @*    <div style="text-align: center; display: none" id="loaderDiv">
            Loading
        </div>*@
</div>


<script>

    $(document).ready(function () {

        $("#btnSubmit").click(function (e) {
            debugger
            var myformdata = $("#myForm").serialize();
            $.ajax({

                type: "POST",
                url: "/StudentOptionalSubject/Delete",
                data: myformdata,
                success: function () {
                    //$("#loaderDiv").hide();
                    $("#myModal").modal("hide");
                    window.location.href = "/StudentOptionalSubject/Index";

                }

            })
        })

        $("#btnNo").click(function (e) {
            debugger
            $("#myModal").modal("hide");
        })

    })


</script>