@model GDWEBSolution.Models.Evaluation.EvaluationModel

<div>
    <form id="FormHDelete" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Are you sure you want to Delete this Evaluation  for this Class ? </h5>
            @Html.HiddenFor(m => m.SchoolId)
            @Html.HiddenFor(m => m.EvaluationDetailSeqNo)
              @Html.HiddenFor(m => m.EvaluationNo)

        </div>
        <div class="modal-footer">

            <a href="#" id="btnHDSubmits" onclick="vcb()" class="btn btn-primary">YES</a>
            <a href="#" id="btnNo" onclick="dshw()" class="btn btn-default">NO</a>
        </div>
    </form>
    @*    <div style="text-align: center; display: none" id="loaderDiv">
            Loading
        </div>*@
</div>
<script>
    var vcb = function () {

        debugger

        
        var myformdata = $("#FormHDelete").serialize();
        $.ajax({

            type: "POST",
            url: "/EvaluationbySchool/DeleteEvaluationDetail",
            data: myformdata,
            success: function (result) {
                //$("#loaderDiv").hide();
                if (result != "Error") {
                    debugger
                    //window.location.href = "/Teacher/Create";
                    // $("#TeacherID").val(result);
                    //  $('#ResultDIV').load('/Teacher/ShowTeacherQualificatoin', ShowTeacherQualificatoinAction);
                    $('#showbyclassd').load('/EvaluationbySchool/ShowEvaluationDetail?EvluationNo=' + result);
                }
                $("#myModal").modal("hide");


             


            }

        })





    }

    var dshw = function () {
        debugger
        $("#myModal").modal("hide");


    }

   


</script>
