@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Forbidden";
}

<hgroup class="title">
    <h1 class="error">Forbidden.</h1>
    <h2 class="error">You are not Authorized to access the Page.</h2>
</hgroup>
