@{
    ViewBag.Title = "Blank";
}
@section featured {
    <div class="panel panel-default">
    <div class="panel-heading">Event Calender</div>
    <div class="panel-body">
        				<div class="row">
					<div class="col-md-12">
					
						<h2 class="page-title">@ViewBag.Title.</h2>
						
						<div class="well">
							<p>
								<code>.well</code> @ViewBag.Message
							</p>
						</div>
						<div class="row">
					<div class="clearfix pt pb">
						<div class="col-md-12">
                             <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
						</div>

                        <div class="col-md-12">
                             <input class="form-control" id="date1" name="date1" placeholder="MM/DD/YYYY" type="text"/>
						</div>
					</div>
				</div>
                        @if(Session["LoggedUserInfo"] != null){
                            
                            <h2 class="page-title">Session Created</h2>
                        }
					</div>
				</div>
        <br />
    </div>
</div>

}

<script>
     $(document).ready(function () {
         var date_input = $('input[name="date"]'); //our date input has the name "date"
         date_input.datepicker({
             format: 'yyyy',
             todayHighlight: true,
             autoclose: true,
             startView: "years",
             minViewMode: "month"
         })
         $('input[name="date1"]').daterangepicker({
             singleDatePicker: true,
             showDropdowns: true
         },
        function (start, end, label) {
            var years = moment().diff(start, 'years');
            alert("You are " + years + " years old.");
        });
     });
 </script>

<script type="text/javascript">
    $(function () {
        
    });
</script>

				
