@{
    ViewBag.Title = "Blank";
}
@section featured {
				<div class="row">
					<div class="col-md-12">
					
						<h2 class="page-title">@ViewBag.Title.</h2>
						
						<div class="well">
							<p>
								<code>.well</code> @ViewBag.Message
							</p>
						</div>
						
					</div>
				</div>
}

				<div class="row">
					<div class="clearfix pt pb">
						<div class="col-md-12">

						</div>
					</div>
				</div>
