@{
    ViewBag.Title = "Blank";
}
@section featured {
				<div class="row">
					<div class="col-md-12">
					
						<h2 class="page-title">@ViewBag.Title.</h2>
						
						<div class="well">
							<p>
								<code>.well</code> @ViewBag.Message
							</p>
						</div>
						<div class="row">
					<div class="clearfix pt pb">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <div class="row">
						<div class="col-md-12">
                             <input class="form-control" id="date" name="date" style="width:200px" placeholder="MM/DD/YYYY" type="text"/>
						</div>
                            </div>
					</div>
				</div>
                        @if(Session["LoggedUserInfo"] != null){
                            
                            <h2 class="page-title">Session Created</h2>
                        }
					</div>
				</div>
}

<script>
     $(document).ready(function () {
       
         $('input[name="date"]').daterangepicker({
             singleDatePicker: true,
             showDropdowns: true
         })
     });
 </script>

				
