@model GDWEBSolution.Models.Teacher.TSubjectModel
<div>
    <form id="FormTSDelete" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h5 class="modal-title">Are You Sure You Want To Delete This Teacher Subject ? @Html.HiddenFor(m=> m.TeacherSubjectSeqNo)</h5>
            @Html.HiddenFor(m=> m.Teacher_ID)
        </div>
        <div class="modal-footer">
            
            <a href="#" id="btnDSSubmit" class="btn btn-primary">YES</a>
            <a href="#" id="btnNo" class="btn btn-default">NO</a>
        </div>
    </form>
</div>
<script>
$(document).ready(function () {
        $("#btnDSSubmit").click(function (e) {
            debugger
            var myformdata = $("#FormTSDelete").serialize();
            $.ajax({
                type: "POST",
                url: "/Teacher/DeleteTeacherSubject",
                data: myformdata,
                success: function (result) {
                    if (result != "Error") {
                        $('#showsubjects').load('/Teacher/ShowTeacherSubjects?TeacherId=' + result);
                    }
                    $("#deleteModel").modal("hide");
                }

            })
        })
$("#btnNo").click(function (e) {
    $("#deleteModel").modal("hide");
   })

})
</script>