@{
    ViewBag.Title = "Teacher Details";
}

<h3>Teacher Details</h3>
<div class="panel panel-default">
    <div class="panel-heading">Teacher Details</div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">Basic Information & Other Details</h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="well">
                 @{ Html.RenderAction("ShowTeacherDetails", new { TeacherId = ViewBag.TeacherDetailsID }); }
                        </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">Qualification</h4>
            </div>
            <div id="collapseOne1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @{ Html.RenderAction("ShowTeacherQualificationDetails", new { TeacherId = ViewBag.TeacherDetailsID }); }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">Assigned Subjects</h4>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @{ Html.RenderAction("ShowTeacherSubjectsDetails", new { TeacherId = ViewBag.TeacherDetailsID }); }
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab">
                <h4 class="panel-title">Assigned Extracurrucular Activities</h4>
            </div>
            <div id="collapseOne5" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    @{ Html.RenderAction("ShowTeacherExActivityDetails", new { TeacherId = ViewBag.TeacherDetailsID }); }
                </div>
            </div>
        </div>
        @* @{ Html.RenderAction("ShowEditTeacher", new { TeacherId = @ViewBag.EditTeacherID }); }*@
    </div>
</div>
