@model GDWEBSolution.Models.Teacher.ExtraActivityModel

<form id="FrmEXA" class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.TeacherName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.TeacherID, ViewBag.TeacherListEx as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher" ,@onchange = "loadExactivitylist()"})
        </div>
        @Html.LabelFor(m => m.ActivityName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @*@Html.ValidationMessageFor(model => model.TeacherId, null, new { @class = "text-danger" })*@
            @Html.DropDownListFor(model => model.ActivityCode, ViewBag.ExtraActivityList as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher" })
        </div>
        <div class="col-sm-2">
        <button type="reset" id="btnAddExtarActivity" onclick="AddExActivity()" class="btn btn-primary"><span class="fa fa-bookmark"></span> Save</button>
            </div>
    </div>
    <div class="hr-dashed"></div>
@*     <h4 style="padding-left:120px;">Qualifications</h4>
    <div class="hr-dashed"></div>*@
                            
    </form>



<script>

    var AddExActivity = function () {
        //debugger
        var myformdata = $("#FrmEXA").serialize();

        //if (!$("#FrmANT").valid()) {
        //    return false;
        //}

        $.ajax({

            type: "POST",
            url: "/Teacher/AddExtraActivity",
            data: myformdata,
            success: function (result) {
                //$("#loaderDiv").hide();
                // $("#myModal").modal("hide");
                if (result != "Exception" && result != "Exits") {
                    debugger
                    //window.location.href = "/Teacher/Create";
                    $("#TeacherID").val(result);

                    //  $('#ResultDIV').load('/Teacher/ShowTeacherQualificatoin', ShowTeacherQualificatoinAction);
                    $('#showexactivity').load('/Teacher/ShowTeacherExActivity?TeacherId=' + result);
                    $("#SuccesLable").text("Extra Curricular Activity Added");
                   // $("#btnAddQualification").prop('value', 'Save');
                    $("#SuccesModel").modal("show");
                }
                else if (result == "Exception") {
                    debugger
                    //$("#ErrorUName").prop('value', 'User Name Already Exits');
                    $("#ErrorLable").text("Exception Error Occurd");
                    //$("#btnAddQualification").prop('value', 'Save');
                    $("#myModal").modal("show");
                }
                else if (result == "Exits") {
                    //$("#ErrorUName").prop('value', 'User Name Already Exits');
                    $("#ErrorLable").text("This Activity is Already Assigned to this Teacher");
                    //$("#btnAddQualification").prop('value', 'Save');
                    $("#myModal").modal("show");


                }
                else {

                }

            }

        })
    }

    var loadExactivitylist = function () {
        debugger
        var tid = $('#TeacherID').val();
        $('#showexactivity').load('/Teacher/ShowTeacherExActivity?TeacherId=' + tid);
    }
</script>