@model GDWEBSolution.Models.Teacher.ExtraActivityModel
<form id="FrmEXA" class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.TeacherName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.TeacherID, ViewBag.TeacherListEx as SelectList, "", new { @class = "select2_Ex form-control", @onchange = "loadExactivitylist()" })
        </div>
        @Html.LabelFor(m => m.ActivityName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.ActivityCode, ViewBag.ExtraActivityList as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher" })
        </div>
        <div class="col-sm-2">
            <button type="reset" id="btnAddExtarActivity" onclick="AddExActivity()" class="btn btn-primary"><span class="fa fa-bookmark"></span> Save</button>
        </div>
    </div>
    <div class="hr-dashed"></div>
</form>
<script>
    var AddExActivity = function () {
        if ($("#TeacherID").val() == "") {
            $("#ErrorLable").text("Select a Teacher Before Saving");
            $("#myModal").modal("show");
            return;
        }
        else if ($("#ActivityCode").val() == "") {
            $("#ErrorLable").text("Select a Activity Before Saving");
            $("#myModal").modal("show");
            return;
        }
        var myformdata = $("#FrmEXA").serialize();
        $.ajax({
            type: "POST",
            url: "/Teacher/AddExtraActivity",
            data: myformdata,
            success: function (result) {
                if (result.msg != "Exception" && result.msg != "Exits") {
                    $("#TeacherID").val(result.Teacher_Id);
                    $('#showexactivity').load('/Teacher/ShowTeacherExActivity?TeacherId=' + result.Teacher_Id);
                    $("#SuccesLable").text("Extra Curricular Activity Added");
                    $("#SuccesModel").modal("show");
                }
                else if (result.msg == "Exception") {
                    $("#TeacherID").val(result.Teacher_Id);
                    $("#ErrorLable").text("Exception Error Occurd");
                    $("#myModal").modal("show");
                }
                else if (result.msg == "Exits") {
                    $("#TeacherID").val(result.Teacher_Id);
                    $("#ErrorLable").text("This Activity is Already Assigned to this Teacher");
                    $("#myModal").modal("show");
                }
                else {
                    $("#TeacherID").val(result.Teacher_Id);
                    $("#ErrorLable").text("An Error Occured ! Please Try Again Later");
                    $("#myModal").modal("show");
                }
            }
        })
    }
    var loadExactivitylist = function () {
        var tid = $('#TeacherID').val();
        if (tid != 0) {
            $('#showexactivity').load('/Teacher/ShowTeacherExActivity?TeacherId=' + tid);
            $('#showexactivity').show();
        }
        else {
            $('#showexactivity').hide();
        }
    }
</script>
