@model GDWEBSolution.Models.Teacher.QualificationModel

<form id="FrmQA" class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.TeacherName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.Teacher_Id, ViewBag.TeacherList as SelectList, "", new { @class = "select2_Q form-control" ,@onchange = "loadQualification()"})
        </div>
        @Html.LabelFor(m => m.QualificationName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.QualificationId, ViewBag.QualificationList as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher" })
        </div>
        <div class="col-sm-2">
        <button type="reset"  id="btnAddQualification" onclick="AddQualification()" class="btn btn-primary"><span class="fa fa-bookmark"></span> Save</button>
            </div>
    </div>
    <div class="hr-dashed"></div>
                          
    </form>



<script>

    var AddQualification = function () {
        if ($("#Teacher_Id").val() == "") {
            $("#ErrorLable").text("Select a Teacher Before Saving");
            $("#myModal").modal("show");
            return;
        }
        if ($("#QualificationId").val() == "") {
            $("#ErrorLable").text("Select a Qualification Before Saving");
            $("#myModal").modal("show");
            return;
        }
        var myformdata = $("#FrmQA").serialize();
        $.ajax({

            type: "POST",
            url: "/Teacher/AddQualification",
            data: myformdata,
            success: function (result) {
                if (result != "Exception" && result != "Exits") {
                    $("#Teacher_Id").val(result);
                    $('#showqualification').load('/Teacher/ShowTeacherQualification?TeacherId=' + result);
                    $("#SuccesLable").text("Qualification Added");
                    $("#SuccesModel").modal("show");
                }
                else if (result == "Exception") {
                    $("#ErrorLable").text("Exception Error Occurd");
                    $("#myModal").modal("show");
                }
                else if (result == "Exits") {
                    $("#ErrorLable").text("This Qualification is Already Assigned to this Teacher");
                    $("#myModal").modal("show");
                }
                else {
                    $("#ErrorLable").text("An Error Occured ! Please Try Again Later");
                    $("#myModal").modal("show");
                }
            }
        })
    }
    var loadQualification = function () {
        if ($('#Teacher_Id').val() != 0) {
            $('#showqualification').load('/Teacher/ShowTeacherQualification?TeacherId=' + $('#Teacher_Id').val());
            $('#showqualification').show();
        }
        else {
            $('#showqualification').hide();
        }

    }
</script>