@model GDWEBSolution.Models.Teacher.TSubjectModel
<form id="FrmSUB" class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Teacher_ID, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.Teacher_ID, ViewBag.SchoolTeacher as SelectList, "", new { @class = "select2_TS form-control", @onchange = "loadTeacherSubjects()" })
        </div>
        @Html.LabelFor(m => m.GradeId, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.GradeId, ViewBag.SchoolGrades as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher", @onchange = "loadClassList()" })
        </div>
    </div>
    <div class="form-group" id="classNsubjects">
    </div>
    <div class="hr-dashed"></div>
</form>



<script>
    var AddTSubject = function () {
        var myformdata = $("#FrmSUB").serialize();
        $.ajax({

            type: "POST",
            url: "/Teacher/AddTeacherSubject",
            data: myformdata,
            success: function (result) {
                if (result != "Exception" && result != "Exits") {
                    $("#Teacher_ID").val(result);
                    $('#showsubjects').load('/Teacher/ShowTeacherSubjects?TeacherId=' + result);
                    $("#SuccesLable").text("Teacher Subject Added");
                    $("#SuccesModel").modal("show");
                }
                else if (result == "Exception") {
                    debugger
                    $("#ErrorLable").text("Exception Error Occurd");
                    $("#myModal").modal("show");
                }
                else if (result == "Exits") {
                    $("#ErrorLable").text("This Subject is Already Assigned to this Class");
                    $("#myModal").modal("show");
                }
                else {
                    $("#ErrorLable").text("An Error Occured ! Please Try Again Later.");
                    $("#myModal").modal("show");
                }
            }
        })
    }

    var loadClassList = function () {
        var tid = $('#GradeId').val();
        if (tid != "") {
            $('#classNsubjects').load('/Teacher/ShowGradeClasses?GradeId=' + tid);
            $('#classNsubjects').show();
        } else {
            $('#classNsubjects').hide();
        }
    }

    var loadTeacherSubjects = function () {
        var tid = $('#Teacher_ID').val();
        if (tid != 0) {
            $('#showsubjects').load('/Teacher/ShowTeacherSubjects?TeacherId=' + tid);
            $('#showsubjects').show();
        }
        else {
            $('#showsubjects').hide();
        }
    }

</script>
