@model GDWEBSolution.Models.Teacher.TSubjectModel

<form id="FrmSUB" class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(m => m.Teacher_ID, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @Html.DropDownListFor(model => model.Teacher_ID, ViewBag.SchoolTeacher as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher",@onchange = "loadTeacherSubjects()" })
        </div>
        @Html.LabelFor(m => m.GradeId, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-3">
            @*@Html.ValidationMessageFor(model => model.TeacherId, null, new { @class = "text-danger" })*@
            @Html.DropDownListFor(model => model.GradeId, ViewBag.SchoolGrades as SelectList, "", new { @class = "form-control", @placeholder = "Name of the Teacher", @onchange = "loadClassList()" })
        </div>
    </div>


    <div class="form-group" id="classNsubjects">

    </div>
    <div class="hr-dashed"></div>
    @*     <h4 style="padding-left:120px;">Qualifications</h4>
    <div class="hr-dashed"></div>*@

</form>



<script>

    var AddTSubject = function () {
        //debugger
        var myformdata = $("#FrmSUB").serialize();

        //if (!$("#FrmANT").valid()) {
        //    return false;
        //}

        $.ajax({

            type: "POST",
            url: "/Teacher/AddTeacherSubject",
            data: myformdata,
            success: function (result) {
                //$("#loaderDiv").hide();
                // $("#myModal").modal("hide");
                if (result != "Exception" && result != "Exits") {
                    debugger
                    //window.location.href = "/Teacher/Create";
                    $("#Teacher_ID").val(result);

                    //  $('#ResultDIV').load('/Teacher/ShowTeacherQualificatoin', ShowTeacherQualificatoinAction);
                    $('#showsubjects').load('/Teacher/ShowTeacherSubjects?TeacherId=' + result);
                    $("#SuccesLable").text("Teacher Subject Added");
                    // $("#btnAddQualification").prop('value', 'Save');
                    $("#SuccesModel").modal("show");
                }
                else if (result == "Exception") {
                    debugger
                    //$("#ErrorUName").prop('value', 'User Name Already Exits');
                    $("#ErrorLable").text("Exception Error Occurd");
                    //$("#btnAddQualification").prop('value', 'Save');
                    $("#myModal").modal("show");
                }
                else if (result == "Exits") {
                    //$("#ErrorUName").prop('value', 'User Name Already Exits');
                    $("#ErrorLable").text("This Subject is Already Assigned to this Class");
                    //$("#btnAddQualification").prop('value', 'Save');
                    $("#myModal").modal("show");


                }
                else {

                }

            }

        })
    }

    var loadClassList = function () {
        debugger
        var tid = $('#GradeId').val();
        $('#classNsubjects').load('/Teacher/ShowGradeClasses?GradeId=' + tid);

    }

    var loadTeacherSubjects = function () {
        debugger
        var tid = $('#Teacher_ID').val();
        $('#showsubjects').load('/Teacher/ShowTeacherSubjects?TeacherId=' + tid);

    }

</script>
